{% extends "header.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<section class="vh-100 bg-image" style="background-image: url('https://wallpaperaccess.com/full/1812852.jpg');">
	<div class="container h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
      			<div class="col-12 col-md-9 col-lg-7 col-xl-6">
      				<div class="card-transparent rounded-3">
      					<div class="card-body p-5 special-card" style="background-color: rgba(245, 245, 245, 0.9);">
						<h1 class="text-uppercase text-center">Register</h1>
							<form method="POST" class="">
								{% csrf_token %}
								{{ register_form|crispy }}                    
								<button class="btn btn-primary btn-block text-bold" type="submit">Register</button>
							</form>
						<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
					</div>
				</div>
			</div>
	</div>
</section>

{% endblock %}
